<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="./css/styles.css" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was developed by Suryakant Hota. It uses data from mapbox.com and darksky.net</p>
            <img class="portrait" src="./images/info.jpg" />
        </div>
        {{>footer}}
    </body>
</html>